[submodule "1501/1501/njz-project0"]
	path = 1501/1501/njz-project0
	url = https://github.com/nicholaszullo/Backup.git
[submodule "1501/1501/njz-project1"]
	path = 1501/1501/njz-project1
	url = https://github.com/nicholaszullo/Backup.git
