[submodule "1501/project0"]
	path = 1501/project0
	url = https://github.com/PittCS1501/njz12-project0
	ignore = untracked
[submodule "1501/project1"]
	path = 1501/project1
	url = https://github.com/PittCS1501/njz12-project
	ignore = untracked
[submodule "1501/project2"]
	path = 1501/project2
	url = https://github.com/PittCS1501/njz12-project2
	ignore = untracked
[submodule "1501/project3"]
	path = 1501/project3
	url = https://github.com/PittCS1501/njz12-project3
	ignore = untracked
[submodule "1501/project4"]
	path = 1501/project4
	url = https://github.com/PittCS1501/njz12-project4
	ignore = untracked
[submodule "1501/project5"]
	path = 1501/project5
	url = https://github.com/PittCS1501/njz12-project5
	ignore = dirty
[submodule "1520/cs1520-project-0-nicholaszullo"]
	path = 1520/cs1520-project-0-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-0-nicholaszullo
[submodule "1520/cs1520-project-1-nicholaszullo"]
	path = 1520/cs1520-project-1-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-1-nicholaszullo.git
[submodule "cs1520-project-1-nicholaszullo"]
	path = cs1520-project-1-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-1-nicholaszullo.git
[submodule "cs1520-project-2-nicholaszullo"]
	path = cs1520-project-2-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-2-nicholaszullo.git
[submodule "1520/cs1520-project-2-nicholaszullo"]
	path = 1520/cs1520-project-2-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-2-nicholaszullo.git
[submodule "1520/cs1520-project-3-nicholaszullo"]
	path = 1520/cs1520-project-3-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-project-3-nicholaszullo.git
[submodule "1520/cs1520-final-project-nicholaszullo"]
	path = 1520/cs1520-final-project-nicholaszullo
	url = https://github.com/achpitt1520/cs1520-final-project-nicholaszullo.git
[submodule "1632/Exercises/0"]
	path = 1632/Exercises/0
	url = https://github.com/nicholaszullo/Exercise-0
[submodule "1632/Exercises/1"]
	path = 1632/Exercises/1
	url = https://github.com/nicholaszullo/Exercise-1
[submodule "1632/Exercises/2"]
	path = 1632/Exercises/2
	url = https://github.com/nicholaszullo/Exercise-2
[submodule "1632/Deliverables/1"]
	path = 1632/Deliverables/1
	url = https://github.com/nicholaszullo/Deliverable-1
[submodule "1632/Deliverables/2"]
	path = 1632/Deliverables/2
	url = https://github.com/nicholaszullo/Deliverable-2




[submodule "1632/Exercise/0"]
	path = 1632/Exercise/0
	url = https://github.com/nicholaszullo/Exercise-0
