<!DOCTYPE html>
<title>{%block title %} Welcome {%endblock%}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="navbar">
	<a href="{{ url_for('homepage') }}">Home</a>
	{% if g.user %}
	<input type="button" id="logout" value="Logout">
		{% if g.user.room_num != -1 %}
		<input type="button" id="leaveRoom" value="Leave Room">
		{% endif %}
	{% else %}
	<a href="{{ url_for('register') }}">Register</a>
	<a href="{{ url_for('login') }}">Login</a>
	{% endif %}
</div>
{% with flashes = get_flashed_messages() %}
{% if flashes %}
  <ul class="flashes">
  {% for message in flashes %}
	<li>{{ message }}
  {% endfor %}
  </ul>
{% endif %}
  {% endwith %}
<body>
	{%block body %}{%endblock%}
<script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
</body>