{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block body %}
{% if g.user %}
	<h1 id="welcome">Welcome {{g.user.username}}!</h1>
{% endif %}

{% if g.user %}
	{% if g.user.room_num != -1 %}
		<a id="toRoom" href="{{ url_for('room') }}"> Go to room {{ g.user.room_num }}!</a>
	{% endif %}
{% endif %}

<div class="allChatrooms">
	{% if rooms %}
		{% for room in rooms %}
		<p>Join room <input type="button" class="joinRoom" id="joinroom{{room}}" value="{{room}}"></p>
		{% endfor %}
	{% else %}
	<h1>No rooms yet...</h1>
	{% endif %}
</div>
<input type="button" id="createChatroom" value="Create Room!">
<div class="hostedRooms">
	{% if rooms %}
		{% for room in rooms %}
			{% if rooms[room].host == g.user.username %}
			<p>Remove room <input type="button" class="removeRoom" id="removeroom{{room}}" value="{{room}}"></p>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{%endblock%}